{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <title>PDF-pars</title>
    </head>
    <body>

        <div class="card">
            <h5 class="card-header">Загрузите и отправте файл для обработки на сервер</h5>
            <div class="card-body">
                {{ form.hidden_tag() }}
                <form action="{{ url_for('index.index') }}" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        {{ form.file }}
                    </div>
                    <p></p>
                    <button type="submit" class="btn btn-success">Отправить</button>
                </form>
            </div>
        </div>
        <p></p>

        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for measurement in measurements %}
            <div class="col-sm-15">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ measurement.project }}</h5>
                        <p class="card-text">{{ measurement.subject }} [{{ measurement.date }}] <{{measurement.responsible }}></p>
                        <a href="{{ url_for('measurements.measurements', uid=measurement.uid) }}" class="btn btn-primary">Перейти к отчету</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
</body>
</html>
{% endblock %}
