{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <title>Measurement</title>
    </head>
    <body>
        <h2>Detailed information about measurement {{ measurement.uid }}</h2>
        <li>Subject - {{ measurement.subject }}</li>
        <li>Project - {{ measurement.project }}</li>
        <li>Date - {{ measurement.date }}</li>
        <li>Responsible - {{ measurement.responsible }}</li>
        <h3>Trials:</h3>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Unit</th>
                <th scope="col">Value</th>
                <th scope="col">Subject</th>
              </tr>
            </thead>
            <tbody>
                {% for i in range(trials | length) %}
                    <tr>
                        <th scope="row">{{  i + 1  }}</th>
                        <td><h6>{{ trials[i].name }}</h6></td>
                        <td>{{ trials[i].status }}</td>
                        <td>{{ trials[i].unit }}</td>
                        <td>{{ trials[i].value }}</td>
                        <td>{{ trials[i].subject }}</td>
                    </tr>            
                {% endfor %}                
              </tbody>
            </table>
    </body>
</html>
{% endblock %}
